apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: etudiants
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: backend:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: kafka:9092
            - name: KAFKA_TOPIC
              value: etudiants
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: etudiants
spec:
  selector:
    app: backend
  ports:
    - port: 8080
      targetPort: 8080
