apiVersion: v1
kind: ConfigMap
metadata:
  name: etudiants-postgres-init
  namespace: etudiants
data:
  init.sql: |
    CREATE TABLE IF NOT EXISTS etudiants (
      id SERIAL PRIMARY KEY,
      nom VARCHAR(50),
      prenom VARCHAR(50)
    );
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: etudiants
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: etudiants
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              value: postgres
          volumeMounts:
            - name: init-sql
              mountPath: /docker-entrypoint-initdb.d
      volumes:
        - name: init-sql
          configMap:
            name: etudiants-postgres-init
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: etudiants
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
